.popup {
  position: absolute;
  top: 140px;
  right: 27%;
  width: 720px;
  max-width: 720px;
  max-height: 718px;
  border-radius: 40px;
  background: #1C1C21;
  z-index: 1;
}

.title{
  display: flex;
  align-items: center;
  height: 60px;
  position: relative;
}

.button{
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
}
